@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-font-family: "Roboto", sans-serif;
  --primary-bg-color: #000;
  --primary-font-size: 16px;
  --primary-font-color: #000;
  --primary-max-width: min(1920px, 100%);
}

ul {
  list-style-type: none;
}

.flex-container {
  display: flex;
}

.maxWidth {
  width: var(--primary-max-width);
}

.ma {
  margin: auto;
}

.mt-2 {
  margin-top: 2rem;
}

.align-right {
  margin-right: 0;
}

html {
  font-family: var(--primary-font-family);
  font-size: var(--primary-font-size);
  color: var(--primary-font-color);
}

body {
  width: 100%;
  height: 100%;
}

header {
  position: relative;
  background-color: var(--primary-bg-color);
  color: #fff;
  overflow: hidden;
}

.socmed {
  display: block;
  width: fit-content;
  background-color: red;
  padding: 1rem;
}

.socmed ul li:not(:last-child) {
  margin: 0 1rem 0 0;
}
