@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-font-family: "Roboto", sans-serif;
  --main-font-size: 16px;
}

.color-box-1 {
  background-color: blueviolet;
}

.color-box-2 {
  background-color: rgb(104, 27, 177);
}

html {
  font-family: var(--main-font-family);
  font-size: var(--main-font-size);
}

header {
  background-color: rgb(12, 12, 12);
  padding: 8px;
}

.flex-container {
  display: flex;
  align-items: center;
}

.logo {
  flex: 3;
}

.logo img {
  width: 3.3125rem;
  height: 3.3125rem;
  cursor: pointer;
}

.mobile-menu {
  flex: 3;
}

.burger {
  float: inline-end;
  cursor: pointer;
}

.burger div {
  width: 1.563rem;
  height: 0.125rem;
  background-color: #fff;
  margin: 0.313rem;
}

@media only screen and (max-width: 23.4375rem) {
}
