@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-font-family: "Roboto", sans-serif;
  --main-font-size: 16px;
  --primary-color: #fff;
}

html {
  font-family: var(--main-font-family);
  font-size: var(--main-font-size);
  color: var(--primary-color);
}

header {
  background-color: black;
  width: 100%;
  position: relative;
  overflow: hidden;
  padding: 1rem;
}

.container {
  margin: 0 1rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.social-media {
  display: block;
}

.social-items {
  display: flex;
  align-items: center;
  justify-content: end;
}

.social-items li:not(:last-child) {
  margin: 0 0.313rem 0 0;
}

.flex-container {
  display: flex;
  margin: 0 1rem;
  align-items: center;
}

#navbar .flex-container .logo {
  flex: 6;
}

#navbar .flex-container .logo img {
  width: 3.3125rem;
  height: 3.3125rem;
  cursor: pointer;
}

#navbar .flex-container nav {
  flex: 6;
}

nav {
  display: block;
}

.menu-items {
  float: inline-end;
  font-size: 1rem;
}

.menu-items a {
  color: rgb(34, 34, 34);
  transition: color 0.5s ease-in;
}

.menu-items a:hover {
  color: #fff;
}

:is(.behance, .fb, .github, .yt, .instagram) {
  width: 1.563rem;
  height: 1.563rem;
  fill: #161616;
  transition: fill 0.5s ease-in;
  cursor: pointer;
}

:is(.behance, .fb, .github, .yt, .instagram):hover {
  fill: #494949;
}

@media screen and (max-width: 64rem) {
  .social-media {
    display: none;
  }
}
