# this htaccess is to land in 'beyondlimits' instead of 'beyondlimits/public'
<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteRule ^$ public/ [L]
    RewriteRule (.*) public/$1 [L]
</IfModule>