@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-font-family: "Roboto", sans-serif;
  --primary-font-size: 16px;
  --primary-max-width: min(1920px, 100%);
  --primary-color: #ff3b00;
  --secondary-color: #000000;
  --tertiary-color: #ffffff;
  --quaternary-color: #959595;
  --quinary-color: #111111;
}


a{
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.flex-container {
  display: flex;
}

.flx-basis-80p{
  flex-basis: 80%;
}

.flx-basis-20p{
  flex-basis:20%;
}

.container{
  width: var(--primary-max-width);
}

.ma {
  margin: auto;
}

.mt-2{
  margin-top: 2rem;
}

.mr-0{
  margin-right:0;
}

.p-1{
  padding:1rem;
}

.text-align-right{
  text-align: right;
}

.custom-h2{
  color:var(--primary-color);
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 900;
}

.justify-content-right{
  justify-content: right;
}

.align-items-center{
  align-items: center;
}


.debug-red{
  background-color: red;
}

.debug-blue{
  background-color: blue;
}

.debug-yellow{
  background-color: yellow;
}



html {
  font-family: var(--primary-font-family);
  font-size: var(--primary-font-size);
  color: var(--tertiary-color);
}

body {
  width: 100%;
  height: 100%;
  background-color: var(--secondary-color);
}

header {
  position: relative;
  overflow: hidden;
}

.logo{
  width: 5.5rem;
}

.socmed .item{
  background-color: var(--quaternary-color);
  position: relative;
  display: block;
  width: 2rem;
  height: 2rem;
  padding: .5rem;
  border-radius: 25px;
  transition: background-color 0.5s ease-in;
  -webkit-transition: background-color 0.5s ease-in;
  -moz-transition: background-color 0.5s ease-in;
  -o-transition: background-color 0.5s ease-in;
  -ms-transition: background-color 0.5s ease-in;
}

.socmed .item:hover{
  background-color: #383737;
}

.socmed .item a{
  color:var(--tertiary-color);
}

.socmed .item i{
 font-size: 1rem;
 text-align: center;
 margin-top: 0.5rem;
 display: block;
}

.topmenu{
  text-transform: uppercase;
}


main{
  background-color: var(--quinary-color);
}


.hero .row-left h1, .hero .row-left h2{
  text-transform: uppercase;
}

.btn{
  background-color: var(--primary-color);
  color: var(--tertiary-color);
  padding: 1rem;
  border-radius: 25px;
  display: block;
  width: 180px;
  text-align: center;
}

.btn .flex-container{
  justify-content: center;
}

.btn-icon{
  width: 1.25rem;
  margin: 0 6px 0 0;
  height: 1.25em;
}

.hero-image{
  width: 69.75rem;
}


.categories{
  text-transform: uppercase;
}

.categories .flex-container{
  flex-wrap: wrap;
}

.categories li:not(:last-child):after {
  content: "|";
  margin: 0 5px;
  color: var(--quaternary-color);
}

.categories a{
  color: var(--quaternary-color);
}

.categories a.active{
  font-weight: 900;
  color: var(--tertiary-color);
}


.portfolios .flex-container{
  flex-wrap: wrap;
}

.portfolios .item{
  flex-basis: 25%;
  padding: 5px;
}

.portfolios .item img{
  width: 100%;
}




@media only screen and (max-width: 1000px) {
  .socmed-align-center{
    margin: 2rem auto 0 auto;
  }

}
