@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-font-family: "Roboto", sans-serif;
  --primary-font-size: 16px;
  --primary-max-width: min(1920px, 100%);
  --primary-color: #ff3b00;
  --secondary-color: #000000;
  --tertiary-color: #ffffff;
  --quaternary-color: #959595;
}


a{
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.flex-container {
  display: flex;
}

.flx-basis-80p{
  flex-basis: 80%;
}

.flx-basis-20p{
  flex-basis:20%;
}

.container{
  width: var(--primary-max-width);
}

.ma {
  margin: auto;
}

.mt-2{
  margin-top: 2rem;
}

.mr-0{
  margin-right:0;
}

.p-1{
  padding:1rem;
}

.text-align-right{
  text-align: right;
}

.justify-content-right{
  justify-content: right;
}

.align-items-center{
  align-items: center;
}


.debug-red{
  background-color: red;
}

.debug-blue{
  background-color: blue;
}

.debug-yellow{
  background-color: yellow;
}



html {
  font-family: var(--primary-font-family);
  font-size: var(--primary-font-size);
  color: var(--secondary-color);
}

body {
  width: 100%;
  height: 100%;
}

header {
  position: relative;
  background-color: var(--secondary-color);
  color:var(--tertiary-color); 
  overflow: hidden;
}

.socmed {
  display: block;
  width: fit-content;
  /* background-color: red; */
}

.socmed li{
  border: 0;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  padding: 4px;
  text-align: center;
  background-color: #544d4d;
}

.socmed i{
  color:var(--quaternary-color);
  transition: color 0.5s ease-in;
  display: block;
  margin: 15px 0 0 0; 
}

.socmed i:hover{
  color:var(--tertiary-color);
}

.socmed ul li:not(:last-child) {
  margin: 0 0.5rem 0 0;
}

.logo img{
  width: 80px;
}

.top-menu{
  text-transform: uppercase;
}

.o-hidden{
  overflow: hidden;
}

.top-menu a{
  color: var(--quaternary-color);
  transition: color 0.5s ease-in;
  -webkit-transition: color 0.5s ease-in;
  -moz-transition:  color 0.5s ease-in;
  -o-transition: color 0.5s ease-in;
  -ms-transition: color 0.5s ease-in;
}

.top-menu a:hover{
  color: var(--tertiary-color);
}

.top-menu .active{
  color: var(--tertiary-color);
  font-weight: 900;
}

.menu-list{
  height: 100%;
}

.menu-list li:not(:last-child){
  margin: 0 8px 0 0;
}


@media only screen and (max-width: 1000px) {
  .socmed-align-center{
    margin: 2rem auto 0 auto;
  }

}
